root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = false
indent_style = tab

[*.md]
indent_style = space
indent_size = 4

[{*.json,*.yml}]
indent_style = space
indent_size = 2

[{*.json}]
insert_final_newline = true

# Use 2 space indentation for JavaScript/TypeScript
[{*.js,*.jsx,*.ts,*.tsx,*.mjs}]
indent_style = space
indent_size = 2